@charset "UTF-8";
/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * LIBRAIRIES
 ** Normalize
 *
 * UTILITAIRES
 ** Variables
 ** Mixins
 *
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 *
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/** LIBRAIRIES **/
/* Normalize */
/** UTILITAIRES **/
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/
/** Polices de caractères **/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Sora:wght@100..800&family=Uncial+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Sora:wght@100..800&family=Uncial+Antiqua&display=swap");
/** Palette de couleurs **/
/* Couleurs de base */
/* Autres couleurs */
/** Points de rupture **/
/**
* @author Ève Février - efevrier@cegep-ste-foy.qc.ca
* @author Yves Hélie - yves.helie@cegep-ste-foy.qc.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */
/********** Utilitaires de base **********/
/** Box sizing **/
/* Clearfix */
/********* Accessibilité *********/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/******** Typographie *********/
.cacher {
  display: none !important;
}

.hors-ecran {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

/** BASE **/
/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * LIBRAIRIES
 ** Normalize
 *
 * UTILITAIRES
 ** Variables
 ** Mixins
 *
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 *
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/** LIBRAIRIES **/
/* Normalize */
/** UTILITAIRES **/
.formulaire__Zone-boutons-bleu {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.formulaire__Zone-boutons-bleu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  background-color: #0C0149;
  width: 170px;
  height: 50px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.formulaire__Zone-boutons-bleu-button__icon {
  width: 30px;
  height: 30px;
  transform: rotate(135deg);
}
.formulaire__Zone-boutons-bleu-button__icon__precedent {
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
}
.formulaire__Zone-boutons-bleu-button__modifier {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #D764A1;
}

/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * LIBRAIRIES
 ** Normalize
 *
 * UTILITAIRES
 ** Variables
 ** Mixins
 *
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 *
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/** LIBRAIRIES **/
/* Normalize */
/** UTILITAIRES **/
.hyperlien {
  color: #2678B5;
  text-decoration: none;
}
.hyperlien--visited {
  color: #226aa0;
}
.hyperlien--hover {
  color: #144061;
  text-decoration: underline;
}
.hyperlien--active {
  color: #bbd531;
  text-decoration: underline;
}

/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * LIBRAIRIES
 ** Normalize
 *
 * UTILITAIRES
 ** Variables
 ** Mixins
 *
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 *
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/** LIBRAIRIES **/
/* Normalize */
/** UTILITAIRES **/
/**
* @author Prenom Nom courriel
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/
/**** Typographie responsive ****/
html {
  font-size: 62.5%;
}

body {
  font-family: Abel, sans-serif;
  font-size: 16px; /* 16px pour toutes les largeurs d'écran */
  font-size: 1.6rem;
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
}
h1,
.titreNiveau1,
h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: Bebas Neue, sans-serif;
  font-weight: 500;
}

h1,
.titreNiveau1 {
  font-size: 28px;
  font-size: 2.8rem;
  margin: 0;
}
h1--desktop,
.titreNiveau1--desktop {
  font-size: 48px;
  font-size: 4.8rem;
  padding-bottom: 15px;
  position: relative;
}
h1--desktop:after,
.titreNiveau1--desktop:after {
  background-color: #358ae0;
  content: "";
  display: inline-block;
  width: 150px;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
}

h2,
.titreNiveau2 {
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
}
h2--desktop,
.titreNiveau2--desktop {
  font-size: 28px;
  font-size: 2.8rem;
}

h3,
.titreNiveau3 {
  font-size: 18px;
  font-size: 1.8rem;
}
h3--desktop,
.titreNiveau3--desktop {
  font-size: 22px;
  font-size: 2.2rem;
}

.texte {
  font-family: Abel, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.375;
}
.texte--desktop {
  line-height: 1.5;
}

/*** Classe conteneur pour le centrage et l'affichage de la grille en arrière-plan ***/
@media (min-width: 600px) {
  .conteneur {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
    /* Grille 12 colonnes en arrière-plan - Mettre en commentaires après usage */
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="url(%23susy-svg-gradient)" width="100%" %3E%3Cdefs%3E%3ClinearGradient spreadMethod="pad" id="susy-svg-gradient" x1="0%" y1="0%" x2="100%" y2="0%"%3E%3Cstop offset="0%" style="stop-color:rgba(0, 0, 255, 0.2);" /%3E%3Cstop offset="100%" style="stop-color:rgba(0, 0, 255, 0.1);" /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x="0" width="6.7796610169%" height="100%"/%3E%3Crect x="8.4745762712%" width="6.7796610169%" height="100%"/%3E%3Crect x="16.9491525424%" width="6.7796610169%" height="100%"/%3E%3Crect x="25.4237288136%" width="6.7796610169%" height="100%"/%3E%3Crect x="33.8983050847%" width="6.7796610169%" height="100%"/%3E%3Crect x="42.3728813559%" width="6.7796610169%" height="100%"/%3E%3Crect x="50.8474576271%" width="6.7796610169%" height="100%"/%3E%3Crect x="59.3220338983%" width="6.7796610169%" height="100%"/%3E%3Crect x="67.7966101695%" width="6.7796610169%" height="100%"/%3E%3Crect x="76.2711864407%" width="6.7796610169%" height="100%"/%3E%3Crect x="84.7457627119%" width="6.7796610169%" height="100%"/%3E%3Crect x="93.2203389831%" width="6.7796610169%" height="100%"/%3E%3C/svg%3E') no-repeat scroll;
  }
}
/*** Classes pour dimensionner les blocs ***/
@media (min-width: 600px) {
  /*** Classe de base pour l'intégration en flexbox ***/
  .rangee {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* valeur par défaut */
  }
  .cols_1_de_12 {
    width: 6.5%;
  }
  .cols_2_de_12 {
    width: 15%;
  }
  .cols_3_de_12 {
    width: 23.5%;
  }
  .cols_4_de_12 {
    width: 32%;
  }
  .cols_5_de_12 {
    width: 40.5%;
  }
  .cols_6_de_12 {
    width: 49%;
  }
  .cols_7_de_12 {
    width: 57.5%;
  }
  .cols_8_de_12 {
    width: 66%;
  }
  .cols_9_de_12 {
    width: 74.5%;
  }
  .cols_10_de_12 {
    width: 83%;
  }
  .cols_11_de_12 {
    width: 91.5%;
  }
  .cols_12_de_12 {
    width: 100%;
  }
}
/** MODULES **/
/** BASE **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 10px;
  text-align: center;
}
main__titre {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400rem;
  font-style: normal;
}

#etape1 {
  border: none;
}

#etape3 {
  padding-left: 22px;
  padding-right: 22px;
}

input[type=radio] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

input[type=radio] + label {
  border-radius: 8px;
  background: #D764A1;
  display: inline-block;
  color: white;
  font-family: "Inter", sans-serif;
  padding: 10px 20px;
  margin-top: 15px;
  border: 1px inset #BF387A;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 800px) {
  input[type=radio] + label {
    width: 280px;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
  }
}
input[type=radio]:checked + label {
  background: #A61461;
  outline: 3px solid #771A47;
}

input[name=montant] + label {
  width: 180px;
  margin-right: 5px;
  border-radius: 10px;
  display: inline-block;
}

input[name=montant]:checked + label {
  background: #A61461;
  outline: 3px solid #771A47;
}

label[for=autreMontant] {
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 366px;
}

input[type=checkbox] {
  position: static;
  opacity: 1;
  width: auto;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
  justify-content: flex-start;
}

.header {
  background-color: #0C0149;
  height: 200px;
  max-width: 100%;
  text-align: center;
  align-items: center;
}
.header__banderole {
  background-image: linear-gradient(to right, #7B2DC3, #9D339E, #F33E4E);
  height: 55px;
  width: 100%;
}
.header__logo {
  max-width: 200px;
  object-fit: cover;
  margin-top: 3.5vh;
}

.etapes__liste {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.etapes__liste__elements__item {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
.etapes__liste__elements__item--inactive {
  color: black;
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: none;
}
.etapes__liste__elements__item--active {
  color: #9D339E;
}

.formulaire fieldset {
  margin-top: 20px;
}

@media (min-width: 600px) {
  .formulaire fieldset {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }
}
.formulaire__champ {
  display: block;
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #000000;
  height: 40px;
}
.formulaire__champ--prenom {
  background: url("/public/img/individu.svg") no-repeat right center;
  background-size: 25px 25px;
}
.formulaire__champ--nom {
  background: url("/public/img/individu.svg") no-repeat right center;
  background-size: 25px 25px;
}
.formulaire__champ--courriel {
  background: url("/public/img/mail.svg") no-repeat right center;
  background-size: 25px 25px;
}
.formulaire__champ--telephone {
  background: url("/public/img/telephone.svg") no-repeat right center;
  background-size: 25px 25px;
  max-width: 300px;
}
.formulaire__champ--nomCarte {
  background: url("/public/img/carte.svg") no-repeat right center;
  background-size: 25px 25px;
}

.formulaire__champ__petit__grille {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 25px;
  padding-left: 22px;
  padding-right: 22px;
}

@media (min-width: 600px) {
  .formulaire__champ,
  .formulaire__champ__petit__grille {
    margin-left: auto;
    margin-right: auto;
  }
}
.formulaire__champ__bloc {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
}
.formulaire__champ__bloc label {
  text-align: left;
}

.formulaire__champ__petit {
  width: 100%;
  height: 40px;
  padding: 8px 10px;
  border: 1px solid #000;
  border-radius: 6px;
  box-sizing: border-box;
}
.formulaire__champ__petit--cvv {
  width: 80%;
}
.formulaire__champ__petit--expiration {
  width: 80%;
}

.formulaire__label {
  display: block;
  text-align: left;
  margin-top: 15px;
}
.formulaire__label--nom, .formulaire__label--prenom, .formulaire__label--courriel, .formulaire__label--adresse {
  margin-left: 25px;
}
.formulaire__label--telephone {
  margin-left: 95px;
}
.formulaire__label--conditions {
  display: inline-block;
  text-align: left;
  margin: 0;
}

@media (min-width: 600px) {
  .formulaire__label {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.autreMontant {
  display: block;
  width: 90%;
  max-width: 366px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #000000;
  height: 40px;
  padding-right: 45px;
  background: url("/public/img/material-symbols--attach-money.svg") no-repeat right center;
  background-size: 20px 20px;
}

.frequence {
  width: 90%;
  max-width: 366px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #000000;
  height: 40px;
  background-size: 20px 20px;
}

/*# sourceMappingURL=styles.css.map */
