@use "sass:color";
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/

/** Polices de caractères **/


  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Sora:wght@100..800&family=Uncial+Antiqua&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Sora:wght@100..800&family=Uncial+Antiqua&display=swap');


$fontePrimaire : Bebas Neue, sans-serif;
$fonteSecondaire : Abel, sans-serif;

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$bleuMoyen: #358ae0;
$bleuPale: #68a8e8;
$vertLime: #bbd531;
$bleuMinuit: #012d61;
$bleuMarin: #2678B5;

$rosePale: #D764A1;
$roseFonce: #BF387A;
$Noir: #000000;
$BleuFonce: #0C0149;
$Blanc: #ffffff;


$bleuMoyenTransparent : color.adjust($bleuMoyen, $alpha: -0.50);

/* Autres couleurs */
$hyperlien: $bleuMarin;

/** Points de rupture **/
$desktop : 601px;