@charset "UTF-8";
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/
/** Polices de caractères **/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Sora:wght@100..800&family=Uncial+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Sora:wght@100..800&family=Uncial+Antiqua&display=swap");
/** Palette de couleurs **/
/* Couleurs de base */
/* Autres couleurs */
/** Points de rupture **/
.formulaire__Zone-boutons-bleu {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.formulaire__Zone-boutons-bleu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  background-color: #0C0149;
  width: 170px;
  height: 50px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.formulaire__Zone-boutons-bleu-button__icon {
  width: 30px;
  height: 30px;
  transform: rotate(135deg);
}
.formulaire__Zone-boutons-bleu-button__icon__precedent {
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
}
.formulaire__Zone-boutons-bleu-button__modifier {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #D764A1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 10px;
  text-align: center;
}
main__titre {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400rem;
  font-style: normal;
}

#etape1 {
  border: none;
}

#etape3 {
  padding-left: 22px;
  padding-right: 22px;
}

input[type=radio] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

input[type=radio] + label {
  border-radius: 8px;
  background: #D764A1;
  display: inline-block;
  color: white;
  font-family: "Inter", sans-serif;
  padding: 10px 20px;
  margin-top: 15px;
  border: 1px inset #BF387A;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 800px) {
  input[type=radio] + label {
    width: 280px;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
  }
}
input[type=radio]:checked + label {
  background: #A61461;
  outline: 3px solid #771A47;
}

input[name=montant] + label {
  width: 180px;
  margin-right: 5px;
  border-radius: 10px;
  display: inline-block;
}

input[name=montant]:checked + label {
  background: #A61461;
  outline: 3px solid #771A47;
}

label[for=autreMontant] {
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 366px;
}

input[type=checkbox] {
  position: static;
  opacity: 1;
  width: auto;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
  justify-content: flex-start;
}

.header {
  background-color: #0C0149;
  height: 200px;
  max-width: 100%;
  text-align: center;
  align-items: center;
}
.header__banderole {
  background-image: linear-gradient(to right, #7B2DC3, #9D339E, #F33E4E);
  height: 55px;
  width: 100%;
}
.header__logo {
  max-width: 200px;
  object-fit: cover;
  margin-top: 3.5vh;
}

.etapes__liste {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.etapes__liste__elements__item {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
.etapes__liste__elements__item--inactive {
  color: black;
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: none;
}
.etapes__liste__elements__item--active {
  color: #9D339E;
}

.formulaire fieldset {
  margin-top: 20px;
}

@media (min-width: 600px) {
  .formulaire fieldset {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }
}
.formulaire__champ {
  display: block;
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #000000;
  height: 40px;
}
.formulaire__champ--prenom {
  background: url("/public/img/individu.svg") no-repeat right center;
  background-size: 25px 25px;
}
.formulaire__champ--nom {
  background: url("/public/img/individu.svg") no-repeat right center;
  background-size: 25px 25px;
}
.formulaire__champ--courriel {
  background: url("/public/img/mail.svg") no-repeat right center;
  background-size: 25px 25px;
}
.formulaire__champ--telephone {
  background: url("/public/img/telephone.svg") no-repeat right center;
  background-size: 25px 25px;
  max-width: 300px;
}
.formulaire__champ--nomCarte {
  background: url("/public/img/carte.svg") no-repeat right center;
  background-size: 25px 25px;
}

.formulaire__champ__petit__grille {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 25px;
  padding-left: 22px;
  padding-right: 22px;
}

@media (min-width: 600px) {
  .formulaire__champ,
  .formulaire__champ__petit__grille {
    margin-left: auto;
    margin-right: auto;
  }
}
.formulaire__champ__bloc {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
}
.formulaire__champ__bloc label {
  text-align: left;
}

.formulaire__champ__petit {
  width: 100%;
  height: 40px;
  padding: 8px 10px;
  border: 1px solid #000;
  border-radius: 6px;
  box-sizing: border-box;
}
.formulaire__champ__petit--cvv {
  width: 80%;
}
.formulaire__champ__petit--expiration {
  width: 80%;
}

.formulaire__label {
  display: block;
  text-align: left;
  margin-top: 15px;
}
.formulaire__label--nom, .formulaire__label--prenom, .formulaire__label--courriel, .formulaire__label--adresse {
  margin-left: 25px;
}
.formulaire__label--telephone {
  margin-left: 95px;
}
.formulaire__label--conditions {
  display: inline-block;
  text-align: left;
  margin: 0;
}

@media (min-width: 600px) {
  .formulaire__label {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.autreMontant {
  display: block;
  width: 90%;
  max-width: 366px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #000000;
  height: 40px;
  padding-right: 45px;
  background: url("/public/img/material-symbols--attach-money.svg") no-repeat right center;
  background-size: 20px 20px;
}

.frequence {
  width: 90%;
  max-width: 366px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #000000;
  height: 40px;
  background-size: 20px 20px;
}

/*# sourceMappingURL=formulaire.css.map */
